.active{
	border-bottom: 2px solid silver;
	padding-bottom: 25px;
}

/*.col-6{
	height: 500px;
	background-color: black;
}*/

.row{
	padding-top: 250px;
	width: 100%;
}

.card{
	border:none;
	background:none;
	padding-right: 50px;
}

.btn-primary{
	border-radius: 30px;
	color: white;
	background-color: #ff4fe4;
	border-color: #ff4fe4;
	padding-left:25px;
	padding-right: 25px;
	transition: 1s;
}
p{
	display: block;
	margin-right: 25px;
}

span{
	font-size: 10px;
	color: white;
}

.prima{
	width: 100vw;
	height: 75vw;
	background-image: url(https://c.pxhere.com/photos/fb/2f/plant_nature_tree_conifere_sunset_twilight_dusk_evening-1076282.jpg!d);
	background-repeat: no-repeat;
	background-size: contain;
}

.navbar{
	background:none !important;
	border-bottom: 1px solid rgba(240,245,242,0.1);
}

.nav-link{
	color:white !important;
}

.navbar-brand{
	color: white !important;
}

.card-title{
	color: white;
}

.navbar-toggler{
	background-color: white;
}

